*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F9FC;
}
 


.sidebar{
    background: rgb(199, 134, 49);
    width: 6%;
    color: #F6F9FC;
    height: 100vh;
    margin-left: -20px;
    position: relative;
    margin-top: -280px;
}



.logo{
  font-size: 20px;
  display: flex;
  margin-left: 10px;
  position: relative;
}


.link{
 display: flex;
 color: #F6F9FC;
 font-size: 25px;
 margin-top: 40px;
 margin-left: 20px;
 position: relative;

}

.icon1{
   margin-top: 20px;  
   position: relative;
}


.icon2{
    margin-top: -30px;   
    position: relative; 
 }